<h1>Seems like you visited somewhere new!.</h1>

<%= form_with :model => @place do |form| %>
   <p>
    <%= form.label "name", "New Place" %>
    <%= form.text_field "name" %>
  </p>
    <!-- So we can transfer state from the previous action to the next -->
  <%= form.hidden_field "place_id" %>
  <%= form.submit %>
<% end %>

